<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./layout.css" />
    <title>Game Parrot</title>
</head>
<header>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container jumbo">
            <h1 class="display-4">Game Parrot</h1>
            <p class="lead">Get Connected!</p>
        </div>
    </div>
</header>

<body>


    <section class="container first">
        <h1>Welcome</h1>
        <p>
            Thanks for visiting Game Parrot! Here you can play games with your friends and stay connected! Keep track of who's winning and settle the score. 
        </p>
    </section>
    <section class="container second">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi impedit accusamus unde dolorem voluptates
            dolores id sint ducimus tenetur pariatur perferendis omnis aspernatur beatae ad nemo similique quidem,
            facilis fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum et enim quo beatae, officiis
            aut possimus cumque a consequatur perferendis veritatis inventore rem itaque, quis eaque neque
            exercitationem. Omnis, temporibus!
        </p>
    </section>


    <script src=""></script>

</body>

</html>