.jumbo {
    text-align: center;
}

img {
    width: 75px;
    height: 75px;
    margin-left: 20px;
}
.container.jumbo {
    margin-top: 175px;
}
.display-4 {
    color: white;
}
.lead {
    color:white;
}
.container.first{
    text-align: left;
    margin-left: 5%;
}

.container.second {
    text-align: right;
}

.navbar-Nav {
    text-align: right;
}

.jumbotron.jumbotron-fluid {
    background-image: url(./assets/proj3banner.png);
    height: 600px;
    border-top: 3px solid #d00000;
    border-bottom: 3px solid #d00000;
}
.container.signup{
    margin-top: 20%;
}

.card-text {
    text-align: center;
    display: block;
    align-content: center;
    align-items: center;
}

.card {
    width: 30rem;
    text-align: center;
}

.test {
    border: 2px solid;
    border-color: red;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

body{
    background-color: #f2e8cf;
    
}

div.nav {
    background-color: #;
}
