.jumbo {
    text-align: center;
}

.container.first {
    text-align: left;
    margin-left: 5%;
}

.container.second {
    text-align: right;
}

.navbar-Nav {
    text-align: right;
}

a:hover{
    text-shadow: 2px;
}

.container.signup {
    margin-top: 20%;
}

.card-text {
    text-align: center;
    display: block;
    align-content: center;
    align-items: center;
}

.card {
    width: 30rem;
    text-align: center;
}

.test {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.zIndex-test {
    position: absolute;
    z-index: 0;
}

.hidden-test {
    position: relative;
    z-index: 1;
}

body{
    background-color: #f2e8cf;
}

.jumbotron.jumbotron-fluid {
    background-image: url(../assets/proj3banner.png);
    height: 300px;
    color: white;
}

.navbarUl {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
}