.jumbotron.jumbotron-fluid {
    background-image: url(../assets/proj3banner.png);
    background-size: cover;
    height: 300px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: white;
}

.container.jumbo{
    text-align: right;
    align-items: center!important;
    text-align: center;
}

section.intro {
    text-align: center;
    padding: 5rem;
    background-color: #233d4dad;
    text-shadow: black 20px;
    color: white;
    /* margin: 2%; */
}

.row{
    align-items: center;
}

.cardHolder{
    margin: 1%;
    width: fit-content;
}

.card {

    text-align: center;
}

.cardimg{
    height: 300px;
}

.navbar {
    /* background-color: #4F759B !important; */
    background-color: #0c0a3e !important;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #b5b5ff;
}

.nav-item {
    color: white !important;

}

.navbar-Nav {
    text-align: right;
}

a:hover {
    text-shadow: 2px;
}

.container.signup {
    margin-top: 20%;
}

.test {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.zIndex-test {
    position: absolute;
    z-index: 0;
}

.hidden-test {
    position: relative;
    z-index: 1;
}

body {
    /* background-color: #86cb92; */
    background-image: url(../assets/landingback.jpg);
    background-size: cover;
}

.navbarUl {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
}